<div class="container mt-4">
    <h2>User Management</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname"
                    placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname"
                    placeholder="Last Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" formControlName="country" placeholder="Country">
            </div>
            <div class="form-group col-md-4">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state" placeholder="State">
            </div>
            <div class="form-group col-md-4">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city" placeholder="City">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ editingUser ? 'Update User' : 'Add User' }}</button>
    </form>

    <h3 class="mt-4">User List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async">
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.city }}</td>
                <td>
                    <button class="btn btn-warning" (click)="editUser(user)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>